<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.25.2/css/blueimp-gallery.min.css" crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>

                    @*
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Domain
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="BusinessCategories" asp-action="Index">BusinessCategories</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Businesses" asp-action="Index">Businesses</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="BusinessManagers" asp-action="Index">BusinessManagers</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="BusinessPictures" asp-action="Index">BusinessPictures</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="InvoiceRows" asp-action="Index">InvoiceRows</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Invoices" asp-action="Index">Invoices</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="OrderFeedbacks" asp-action="Index">OrderFeedbacks</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Pictures" asp-action="Index">Pictures</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="ProductCategories" asp-action="Index">ProductCategories</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="ProductPictures" asp-action="Index">ProductPictures</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                            </li>
                
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Settlements" asp-action="Index">Settlements</a>
                            </li>

                        </ul>
                    </li>
                    *@


                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.25.2/js/blueimp-gallery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>